<img class="header-img desktop" src="/assets/header-green.svg" alt="CAIPORA">
<img class="header-img mobile" src="/assets/mobile-header-green.svg" alt="CAIPORA">
<main>
<h1 class='text-center my-4'><%= l(@trip.start_date, format: "%d %B", locale: :pt) %> → <%= l(@trip.end_date, format: "%d %B", locale: :pt) %></h1>
<% if @trip.name == 'Guatemala' %>
    <div class="trip-map"><%= image_tag 'mapa-guatemala.svg', class: "map-img guatemala" %></div>
    <h4 class="trip-route text-center mt-4 mb-5">ANTIGUA — SANTA MARÍA DE JESÚS — PACAYA — ATITLÁN — <br> FUENTES GEORGINA — PANAJACHEL — NEBAJ — SEMUC CHAMPEY <br>— PARQUE NACIONAL TIKAL — FLORES — COPAN RUINAS</h4>
<% elsif @trip.name == 'Amazónia' %>
    <div class="trip-map"><%= image_tag 'mapa_amazonia.svg', class: "map-img" %></div>
    <h4 class="trip-route text-center mt-4 mb-5">MANAUS — TUMBIRA — IGAPÓ — PRAIA ALTA — <br> PRESIDENTE FIGUEIREDO — LAGOA AZUL — SALTO DO IPÊ</h4>
<% end %>

<div class="trip-info text-center">
    <div> 
        <h4>DATAS DISPONÍVEIS</h4>
        <h4>–</h4>
        <h4>POR MARCAÇÃO</h4>
        <h4>(TODO O ANO)</h4>
    </div>
    <div class="border-right border-dark"></div>
    <div>
        <h4>PREÇO</h4>
        <h4>–</h4>
        <h4><%= humanized_money_with_symbol(@trip.price) %> (VOO NÃO INCLUÍDO)<h4>
        <h5 class="mt-2">MÍNIMO DE 4 / MÁXIMO DE 14 PESSOAS</h5>
    </div>
    <div class="border-right border-dark"></div>
    <div class='reserve-btn'>
        <%= image_tag 'montanha.svg', class: "reserve-img" %>       
        <h4 class="reserve-text">
        <%= form_tag bookings_path do %>
        <%= hidden_field_tag 'trip_id', @trip.id %>
        <%= submit_tag 'RESERVAR' %>
        <% end %> 
        </h4>
    </div>
</div>
<div class="d-flex">
    <div class="program dark-green border-right border-bottom border-dark">
        <h4 class="mb-3">PROGRAMA DIA A DIA</h4>
        <% @trip.programs.each do |program| %>
            <div class="program-day"><%= program.day %></div>
            <div class="program-description"><%= program.description.html_safe %></div>
        <% end %>
    </div>
    <div class="description border-bottom border-dark"><%= @trip.description %></div>
</div>
<div class="d-flex align-items-center text-center">
    <div class="context border-right border-bottom border-dark"><%= image_tag 'context.svg' %></div>
    <div class="to-measure border-bottom border-dark">
    <h4>VIAGEM Á MEDIDA</h4>
    <p>Se gostaria de realizar esta viagem com a companhia à sua escolha, teremos gosto em organizá-la segundo as vossas necessidades, datas e duração, e o orçamento que mais vos convém.</p>
    </div>
</div>
<div class="d-flex">
    <div class="faq">
        <% @trip.faqs.each do |faq| %>
            <div class="faq-question border-bottom border-dark"><i><%= faq.question %></i><span class="arrow-faq"><i class="ri-arrow-down-s-line"></i><i class="ri-arrow-up-s-line"></i></span></div>
            <div class="faq-answer border-bottom border-dark"><%= faq.answer.html_safe %></div>
        <% end %>
    </div>
    <div class="border-left border-dark">
    <h4>INCLUI/EXCLUI</h4>
    <p>MANAUS</p>
    <i>INCLUÍDO</i>
    <p>Transporte, hospedagem com pequeno almoço, dois almoços (dias 2 e 3) e passeios.</p>
    <i>NÃO INCLUÍDO</i>
    <p>Jantares dos dias 1, 2 e 3, nem o almoço do dia 1</p>
    </div>
</div>
</main>

