<div class="container">
<div class="row py-4">
<div class="col">
    <h1>Order #<%= @booking.id %> <small><span class="badge badge-primary"><%= @booking.state %></span></small></h1>
    <ul class="list-unstyled">
    <li><strong>ISSUED ON</strong> <%= @booking.created_at.to_date %></li>
    <li><strong>TEDDY</strong> <%= @booking.trip.name %></li>
    <li><strong>TOTAL</strong> <%= humanized_money_with_symbol @booking.amount %></li>
    </li>
    </ul>
</div>
</div>